<div class="posts">
	<form id="postsForm">
		{{#each tags}}
			<label>
				<input type="checkbox" name="tag" value="{{this}}" />
				<span>{{this}}</span>
			</label>
		{{/each}}
	</form>


	<ol class="posts">
		{{#each posts}}<li data-id="{{id}}" data-tags="{{tagsString}}">
				<article>
					<a href="posts/{{{filename}}}">
						<header>
							{{#if hasTitle}}
								<h1>{{title}}</h1>
							{{/if}}
						</header>

						{{#if isText}}
							{{#if coverPhoto}}
								<figure>
									<img
										alt="{{summary}}"
										src="{{coverPhoto}}"
										/>
								</figure>
							{{/if}}

							<p class="excerpt {{#if excerptFadeOut}} fadeOut{{/if}}">{{{excerpt}}}</p>
							<button class="more">More</button>
						
						{{else if isPhoto}}
							<figure>
								<img
									alt="Pic #{{id}}"
									src="{{firstPhoto.width_min_500.url}}"
									width="{{firstPhoto.width_min_500.width}}"
									height="{{firstPhoto.width_min_500.height}}"
									/>
							</figure>

							{{#if hasCaption}}
								<p class="excerpt {{#if excerptFadeOut}} fadeOut{{/if}}">{{summary}}</p>
							{{/if}}
							
							{{#if moreThanOnePhoto}}
								<button class="more">More</button>
							{{/if}}
						
						{{else if isVideo}}
							<figure>
								<img
									alt="Video #{{id}}-{{this}}"
									src="{{thumbnail_url}}"
									width="{{thumbnail_width}}"
									height="{{thumbnail_height}}"
									/>
							</figure>
						{{/if}}
					</a>
				</article>
			</li>
		{{/each}}
	</ol>
</div>
