
<article>
	{{#if isText}}
		{{#if hasTitle}}
			<h1>{{title}}</h1>
		{{/if}}
		
		{{{body}}}
	
	{{else if isPhoto}}
		{{#each photos}}
		<figure>
			<img
				alt="Pic #{{id}}-{{this}}"
				src="{{original_size.url}}"
				width="{{original_size.width}}"
				height="{{original_size.height}}"
				/>
		</figure>
		{{/each}}

		{{#if hasCaption}}
			{{{caption}}}
		{{/if}}
						
	
	{{else if isVideo}}
		<figure>
			<a href="{{permalink_url}}" target="_blank"><img
				alt="Video #{{id}}-{{this}}"
				src="{{thumbnail_url}}"
				width="{{thumbnail_width}}"
				height="{{thumbnail_height}}"
				/>
			</a>
		</figure>
	{{/if}}
	
	<footer>
		<p>Posted the <time datetime="{{{date}}}" pubdate>{{dateString}}</time> with tag(s) <em>{{tagsString}}</em>.</p>
	</footer>
</article>
